@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 100; src: local('Roboto Thin'), local('Roboto-Thin'), url('/fonts/Roboto-Thin.woff') format('woff'); }
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 300; src: local('Roboto Light'), local('Roboto-Light'), url('/fonts/Roboto-Light.woff') format('woff'); }
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: local('Roboto Regular'), local('Roboto-Regular'), url('/fonts/Roboto-Regular.woff') format('woff'); }
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 500; src: local('Roboto Medium'), local('Roboto-Medium'), url('/fonts/Roboto-Medium.woff') format('woff'); }
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 700; src: local('Roboto Bold'), local('Roboto-Bold'), url('/fonts/Roboto-Bold.woff') format('woff'); }

/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-size: 13px; font-weight: 400; line-height: 1.4; background: url(../img/bg-wrap.png) repeat; font-family: "Roboto", sans-serif; }

.clear { clear: both; }

.out { min-height: 100%; height: auto !important; height: 100%; margin: 0; }
.out.out_rel { position: relative; }
.out.out_hidden { position: relative; overflow: hidden; }
.out.out_hidden .google-map { position: absolute; top: 193px; left: 0; right: 0; bottom: 98px; }
.out.out_hidden .google-map__in { height: 100%; width: 100%; }
.out.out_hidden .gm-style-iw { top: 0 !important; left: 0 !important; right: 0 !important; bottom: 0 !important; overflow: initial !important; height: 0; width: 0; }
.out.out_hidden .gm-style-iw > div { position: relative; overflow: visible !important; }
.out.out_hidden .gm-style-iw + div { display: none; }
.out.out_hidden .google-map__block { float: right; padding: 0 0 0 45px; color: #dfdfdf; text-shadow: 0 -1px 0 black; font-family: "Roboto", sans-serif; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.out.out_hidden .google-map__block i { position: absolute; top: 24px; left: 20px; background: url('../img/icons-s840389c983.png') 0 -692px no-repeat; width: 29px; height: 30px; }
.out.out_hidden .google-map__window { position: absolute; top: 0; left: -151px; padding: 20px; width: 320px; -moz-box-shadow: 0 1px 12px black; -webkit-box-shadow: 0 1px 12px black; box-shadow: 0 1px 12px black; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; z-index: 3000; background: url(../img/bg-marker.png) repeat 0 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.out.out_hidden .google-map__window:before { position: absolute; content: ""; bottom: -17px; left: 50%; margin-left: -10px; background: url('../img/icons-s840389c983.png') 0 -665px no-repeat; width: 20px; height: 17px; }
.out.out_hidden .jspVerticalBar { z-index: 10; }
.out.out_hidden .scroll-pane { width: 300px; float: right; max-height: 300px; }

.container { margin: 0 auto; max-width: 1200px; min-width: 1000px; }
.container.container_rel { position: relative; }
.container.container_map { position: relative; margin-top: 70px; }

.wrapper { padding: 26px 0 52px; }
.wrapper--registration { padding-top: 68px; }

.wrap { margin: 0 38px 0 0; overflow: hidden; background: white; }
.wrap.no-scroll { margin-right: 60px; }
.wrap.wrap_partners { position: relative; float: right; margin-top: 0; margin-bottom: 0; width: 336px; z-index: 10; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

.header { position: relative; padding: 25px 0 0; background: url("../img/bg-header.png") no-repeat 50% 0; background-size: cover; }
.header:before { position: absolute; content: ""; bottom: 1px; height: 1px; width: 100%; z-index: 1000; background: black; background: rgba(0, 0, 0, 0.3); }
.header:after { position: absolute; content: ""; bottom: 0; height: 1px; width: 100%; z-index: 1000; background: #8c8c91; background: rgba(140, 140, 145, 0.5); }
.header a { color: #9a94ff; text-decoration: none; }
.header a:hover { text-decoration: underline; }
.header .header__top { padding-bottom: 30px; }
.header .header__language { float: left; }
.header .header__language .select__text { color: #9a94ff; }
.header .header__logo { margin: 0 auto; }
.header .header__right { float: right; }
.header .header__language, .header .header__logo, .header .header__register, .header .header__bottom { position: relative; z-index: 2; }
.header .header__bottom { padding: 0 0 30px; text-align: center; }
.header .header__right_mod { text-align: right; }
.header .header__right_mod p { padding-bottom: 5px; }

.header, .footer { color: #8c8c91; border-top: 1px solid #525252; text-shadow: 0 -1px 0 black; }

.language .language__select { display: inline-block; }
.language .language__text { margin-right: 5px; display: inline-block; vertical-align: top; }

.select { position: relative; padding-right: 15px; cursor: pointer; font-size: 13px; }
.select .select_white { background: white; text-overflow: ellipsis; }
.select .ico { position: absolute; right: 0; top: 4px; }
.select .select__text { position: relative; display: inline-block; height: 18px; line-height: 17px; border-bottom: 1px dashed #8c8c91; white-space: nowrap; overflow: hidden; }
.select .select__list { position: absolute; display: none; left: 0; right: 0; top: 80%; z-index: 100; color: white; border: 1px dashed #8c8c91; max-height: 200px; overflow-x: hidden; overflow-y: auto; background: #525252; }
.select .select__list li { padding: 5px 11px; cursor: pointer; line-height: 1; }
.select .select__list li:hover { background: #717791; color: #9a94ff; }

.logo { margin: 0 auto; width: 315px; display: block; }
.logo img { display: block; width: 315px; }

.ico { display: inline-block; }
.ico.ico_logo { background: url('../img/icons-s840389c983.png') 0 -472px no-repeat; width: 314px; height: 68px; }
.ico.ico_select { background: url('../img/icons-s840389c983.png') 0 -359px no-repeat; width: 8px; height: 6px; }
.ico.ico_reg { background: url('../img/icons-s840389c983.png') 0 -375px no-repeat; width: 5px; height: 9px; }
.ico.ico_logo2 { background: url('../img/icons-s840389c983.png') 0 -550px no-repeat; width: 323px; height: 65px; }
.ico.ico_settings { background: url('../img/icons-s840389c983.png') 0 -758px no-repeat; width: 11px; height: 13px; }
.ico.ico_exit { background: url('../img/icons-s840389c983.png') 0 -266px no-repeat; width: 12px; height: 11px; }
.ico.ico_add { background: url('../img/icons-s840389c983.png') 0 0 no-repeat; width: 13px; height: 13px; }
.ico.ico_search { background: url('../img/icons-s840389c983.png') 0 -732px no-repeat; width: 14px; height: 16px; }
.ico.ico_date { background: url('../img/icons-s840389c983.png') 0 -314px no-repeat; width: 14px; height: 14px; }
.ico.ico_addwhite { margin-bottom: -2px; background: url('../img/icons-s840389c983.png') 0 -23px no-repeat; width: 15px; height: 17px; }
.ico.ico_edit { background: url('../img/icons-s840389c983.png') 0 -242px no-repeat; width: 13px; height: 14px; }
.ico.ico_delete { background: url('../img/icons-s840389c983.png') 0 -338px no-repeat; width: 11px; height: 11px; }
.ico.ico_yahoo { background: url('../img/icons-s840389c983.png') 0 -923px no-repeat; width: 103px; height: 20px; }
.ico.ico_yandex { background: url('../img/icons-s840389c983.png') 0 -953px no-repeat; width: 98px; height: 47px; }
.ico.ico_mail { background: url('../img/icons-s840389c983.png') 0 -625px no-repeat; width: 114px; height: 30px; }

.topic { position: relative; padding: 8px 0; color: lightgray; font-size: 17px; text-align: center; background: url(../img/bg-login.png) no-repeat 50% 0; background-size: cover; }
.topic:before { position: absolute; content: ""; left: 0; bottom: 1px; height: 1px; width: 100%; z-index: 1000; background: black; background: rgba(0, 0, 0, 0.3); }
.topic:after { position: absolute; content: ""; left: 0; bottom: 0; height: 1px; width: 100%; z-index: 1000; background: #8c8c91; background: rgba(140, 140, 145, 0.5); }
.topic .topic__text { padding: 12px 0; }

.table { background: white; }
.table tr:nth-child(even) { background: #f4f4f4; }
.table th, .table td { padding: 0 33px; font-size: 15px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.table th:first-child, .table td:first-child { padding-left: 48px; width: 29.5%; border: none; }
.table th:last-child, .table td:last-child { padding-right: 48px; width: 38.2%; }
.table th { padding-top: 30px; height: 62px; color: #5e5e5e; font-weight: 700; text-align: left; }
.table th .ico { vertical-align: middle; }
.table td { height: 50px; color: #2d2d2d; line-height: 50px; border-left: 1px solid #e7e7e7; }
.table td .input { margin: 0 -15px; }
.table a { font-weight: 300; color: #9a94ff; text-decoration: none; }
.table a:hover { text-decoration: underline; }
.table .table__text { position: relative; }
.table .table__text .btntable_edit { position: absolute; right: 0; top: 50%; margin-top: -7px; }
.table.table_date td:first-child, .table.table_date th:first-child { width: 38.2%; text-align: center; }
.table.table_date td:last-child, .table.table_date th:last-child { width: 29.5%; }
.table.table_partner td:first-child, .table.table_partner th:first-child { width: 31.5%; }
.table.table_partner td:nth-child(2), .table.table_partner th:nth-child(2) { width: 29%; }
.table.table_partner td:last-child, .table.table_partner th:last-child { width: 34%; }

.btntable { display: inline-block; background: none; color: #746fcd; font-size: 15px; }
.btntable:hover { text-decoration: underline; }
.btntable .ico { margin-right: 3px; margin-bottom: -2px; }
.btntable.btntable_edit { background: url('../img/icons-sc218cf83c8.png') 0 -242px no-repeat; width: 13px; height: 14px; }
.btntable.btntable_delete { margin-left: 78px; }
.btntable.btntable_delete .ico { margin-bottom: 0; }

.menu { font-size: 0; }
.menu .menu__item { display: inline-block; }
.menu a { padding: 0 30px; height: 52px; color: lightgray; text-decoration: none; font-size: 17px; line-height: 52px; display: block; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; transition: 0.2s; }
.menu a:hover, .menu a.is-active { color: #999999; background-color: rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.26), inset 0 1px 3px rgba(0, 0, 0, 0.64); -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.26), inset 0 1px 3px rgba(0, 0, 0, 0.64); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.26), inset 0 1px 3px rgba(0, 0, 0, 0.64); -moz-border-radius: 52px; -webkit-border-radius: 52px; border-radius: 52px; }

.register { text-decoration: none; color: #9a94ff; }
.register .ico { margin-left: 10px; }

.log-in { position: relative; }
.log-in .log-in_wrap { position: absolute; top: 100%; width: 100%; left: 0; z-index: 300; height: auto; background: url(../img/bg-login.png) no-repeat 50% 0; background-size: cover; }
.log-in .log-in__form { position: relative; padding: 20px 0 10px; margin: 0 auto; width: 652px; display: none; }
.log-in .log-in__form .form__row { font-size: 0; margin-bottom: 8px; height: 62px; }
.log-in .log-in__form .form__col { margin-right: 12px; }
.log-in .btn_log { position: absolute; left: 50%; bottom: -60px; margin-left: -195px; z-index: 1000; }
.log-in .log-in__text { padding-right: 30px; text-align: right; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.form input, .form textarea { padding: 9px 20px 9px; width: 100%; height: 100%; color: #8c8c91; font-size: 15px; border: 1px solid transparent; background-color: rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.26), inset 0 1px 3px rgba(0, 0, 0, 0.64); -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.26), inset 0 1px 3px rgba(0, 0, 0, 0.64); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.26), inset 0 1px 3px rgba(0, 0, 0, 0.64); -moz-border-radius: 62px; -webkit-border-radius: 62px; border-radius: 62px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "Roboto", sans-serif; }
.form input:-moz-placeholder, .form input::-moz-placeholder, .form textarea:-moz-placeholder, .form textarea::-moz-placeholder { color: #8c8c91; opacity: 1; }
.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder { color: #8c8c91; }
.form input:focus:-ms-input-placeholder, .form textarea:focus:-ms-input-placeholder { font-size: 0; }
.form input:focus:-moz-placeholder, .form textarea:focus:-moz-placeholder { font-size: 0; }
.form input:focus::-moz-placeholder, .form textarea:focus::-moz-placeholder { font-size: 0; }
.form input:focus::-webkit-input-placeholder, .form textarea:focus::-webkit-input-placeholder { font-size: 0; }
.form input:focus::placeholder, .form textarea:focus::placeholder { font-size: 0; }
.form textarea { -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }
.form .form__row { font-size: 0; height: 38px; position: relative; }
.form .form__row.textarea { height: 100px; }
.form .form__row.textarea { margin-top: 20px; }
.form .form__row .input__text { float: left; }
.form .form__row.textarea textarea { background-color: #fff; height: 100px; resize: none; }
.form .form__row_text .form__col { padding-left: 18px; height: auto; font-size: 13px; }
.form .form__col { height: 38px; display: inline-block; vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.form .form__col_phone input { color: #d0d0d0; }
.form .form__col_phone input:-moz-placeholder, .form .form__col_phone input::-moz-placeholder { color: #d0d0d0; opacity: 1; }
.form .form__col_phone input::-webkit-input-placeholder { color: #d0d0d0; }
.form .form__col_316 { width: 316px; }
.form .form__col_312 { height: 62px; width: 312px; }
.form .form__col_202 { width: 202px; }
.form .form__col_142 { position: relative; width: 142px; }
.form .form__col_460 { width: 460px; }
.form .form__col_97 { width: 97px; }
.form .form__col_93 { width: 93px; }
.form .ui-datepicker-trigger { position: absolute; top: 0; right: 0; height: 38px; width: 38px; background: #9a94ff; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.form .ui-datepicker-trigger:hover { background: rgba(154, 148, 255, 0.8); }

.form_edit { margin: 0 auto; width: 490px; }

.input .input__row { font-size: 0; }
.input .input__text { display: inline-block; font-size: 15px; font-weight: 700; }
.input .input__col { display: inline-block; }
.input .input__col.input__col_63 { width: 63px; }
.input .input__col.input__col_85 { width: 85px; }
.input .input__col.input__col_343 { width: 343px; }
.input input { padding: 0 15px 0 18px; height: 37px; width: 100%; font-size: 15px; border: 1px solid #c7c7c7; color: #2d2d2d; -moz-border-radius: 18px; -webkit-border-radius: 18px; border-radius: 18px; background-color: white; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.input input:-moz-placeholder, .input input::-moz-placeholder { color: #2d2d2d; opacity: 1; }
.input input::-webkit-input-placeholder { color: #2d2d2d; }
.input input:focus:-ms-input-placeholder { font-size: 0; }
.input input:focus:-moz-placeholder { font-size: 0; }
.input input:focus::-moz-placeholder { font-size: 0; }
.input input:focus::-webkit-input-placeholder { font-size: 0; }
.input input:focus::placeholder { font-size: 0; }
.input .input__error { position: absolute; top: 0; left: 500px; width: 200px; height: 34px; line-height: 34px; font-size: 12px; color: #f00; }

.btn { width: 200px; height: 38px; color: white; line-height: 38px; font-size: 17px; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.31); -moz-box-shadow: 0 1px 5px black; -webkit-box-shadow: 0 1px 5px black; box-shadow: 0 1px 5px black; -moz-border-radius: 38px; -webkit-border-radius: 38px; border-radius: 38px; background: #746fcd; display: inline-block; }
.btn:hover { background: rgba(116, 111, 205, 0.8); }
.btn.btn_log { color: #8c8c91; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; background: url('../img/icons-sc218cf83c8.png') 0 -120px no-repeat; width: 395px; height: 60px; font-size: 21px; }
.btn.btn_log.is-active, .btn.btn_log:hover { color: white; background-position: 0 -50px; }
.btn.btn_nbg { color: #9a94ff; font-size: 13px; height: auto; width: auto; line-height: 1.4; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; background: none; }
.btn.btn_nbg:hover { text-decoration: underline; }
.btn.btn_search { padding: 0; width: 38px; }
.btn.btn_search .ico { margin-right: -2px; vertical-align: middle; }
.btn.btn_close { background: url('../img/icons-sc218cf83c8.png') 0 -287px no-repeat; width: 17px; height: 17px; }
.btn.btn_close2 { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; background: url('../img/icons-sc218cf83c8.png') 0 -190px no-repeat; width: 12px; height: 12px; }
.btn.btn_addrow { width: auto; height: auto; line-height: 1; font-size: 13px; background: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.btn.btn_addrow:hover { text-decoration: underline; }

.search, .blocktop { text-align: right; }
.search .search__form, .search .blocktop__form, .blocktop .search__form, .blocktop .blocktop__form { position: relative; margin-right: 82px; width: 548px; vertical-align: top; display: inline-block; }
.search .search__form .btn, .search .blocktop__form .btn, .blocktop .search__form .btn, .blocktop .blocktop__form .btn { position: absolute; right: 0; top: 0; margin: 0; }
.search .btn, .blocktop .btn { margin-right: 38px; }

.blocktop { text-align: center; }
.blocktop .blocktop__form { width: 488px; margin-right: 0; }

.editing { text-align: center; }
.editing .editing__form { margin: 38px 0 34px 0; width: 490px; display: inline-block; text-align: left; vertical-align: top; }
.editing .editing__top { padding: 28px 0; color: #4d4d4d; font-size: 17px; border-bottom: 1px solid #e7e7e7; }
.editing .form__row { margin-bottom: 11px; }
.editing .form__row span { margin: 0 8px 0 12px; font-size: 15px; color: #2d2d2d; display: inline-block; }
.editing .input__text { width: 140px; color: #5e5e5e; font-weight: 700; }
.editing .input__col_63 { margin-right: 10px; }
.editing .editing__row { margin-bottom: 20px; }
.editing .editing__row.editing__row--top { margin-top: 20px; }

.edit { position: absolute; top: 213px; left: 210px; padding: 23px; width: 728px; font-size: 0; z-index: 1; -moz-border-radius: 24px; -webkit-border-radius: 24px; border-radius: 24px; -moz-box-shadow: 0 1px 8px black; -webkit-box-shadow: 0 1px 8px black; box-shadow: 0 1px 8px black; background: url(../img/bg.png) repeat; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: none; }
.edit .form { display: inline-block; vertical-align: top; }

.edit .form__col, .blocktop .form__col { margin-right: 15px; }

.slider { position: absolute; top: 194px; bottom: 98px; left: 0; right: 0px; }
.slider .cycle-slideshow { height: 100%; }
.slider .slider__item { position: absolute !important; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden !important; background-size: cover !important; }
.slider .slider__item img { width: 100%; opacity: 0; }

.popup { position: absolute; top: 248px; left: 50%; margin-left: -362px; padding: 34px 40px 25px; width: 725px; color: #999999; z-index: 2; background: url(../img/bg-wrap.png) repeat; display: none; -moz-border-radius: 24px; -webkit-border-radius: 24px; border-radius: 24px; -moz-box-shadow: 0 1px 8px black; -webkit-box-shadow: 0 1px 8px black; box-shadow: 0 1px 8px black; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.popup textarea { height: 110px; resize: none; }
.popup .popup__row { padding-top: 16px; *zoom: 1; }
.popup .popup__row:after { content: " "; display: table; clear: both; }
.popup .popup__left { float: left; }
.popup .popup__right { float: right; width: 517px; }
.popup .popup__right .form { margin: 18px 0 24px; padding: 20px 0 15px 25px; position: relative; border-top: 1px solid #343434; border-bottom: 1px solid #343434; }
.popup .popup__right .form:before { position: absolute; content: ""; left: 0; top: 0; height: 1px; width: 100%; background: #7c7c7c; }
.popup .popup__right .form:after { position: absolute; content: ""; bottom: -2px; left: 0; width: 100%; height: 1px; background: #7c7c7c; }
.popup .popup__right .form__row { height: 38px; line-height: 38px; font-size: 15px; }
.popup .popup__right .form__row span { margin-left: -3px; }
.popup .popup__right .form__row .btn_close2 { margin-left: 18px; }
.popup .popup__right .form__row_text { height: auto; line-height: 1; }
.popup .popup__right .form__col { margin-right: 12px; }
.popup .popup__right .btn_addrow { margin: 9px 0 0 18px; }
.popup .popup__left, .popup .popup__right { font-size: 15px; }
.popup .popup__choice { padding-left: 70px; }
.popup .popup__choice .choice__checkbox { margin-right: 100px; }
.popup .popup__top { padding-bottom: 20px; font-size: 17px; color: lightgray; text-shadow: 0 -1px 0 black; }
.popup .popup__bottom, .popup .popup__top { text-align: center; }
.popup .btn_close { position: absolute; top: 13px; right: 19px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.popup .form__row { margin-bottom: 9px; }
.popup .form__col { margin-left: 9px; }
.popup .form__col:first-child { margin-left: 0; }

.choice { font-size: 15px; color: #d7d7d7; }
.choice .choice__checkbox { position: relative; display: inline-block; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.choice .choice__checkbox input { position: absolute; left: 0; top: 0; width: 18px; height: 18px; opacity: 0; z-index: 2; }
.choice .choice__checkbox input:checked + span:after { display: block; }
.choice span { display: inline-block; position: relative; padding-left: 25px; }
.choice span:before { content: ""; position: absolute; left: 0; top: 0; width: 20px; height: 20px; background-color: #8c8c91; background-color: rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.26), inset 0 1px 3px rgba(0, 0, 0, 0.64); -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.26), inset 0 1px 3px rgba(0, 0, 0, 0.64); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.26), inset 0 1px 3px rgba(0, 0, 0, 0.64); -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.choice span:after { content: ""; position: absolute; top: 5px; left: 5px; width: 10px; height: 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background: #9a94ff; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.83), inset 0 1px 0 rgba(255, 255, 255, 0.45); -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.83), inset 0 1px 0 rgba(255, 255, 255, 0.45); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.83), inset 0 1px 0 rgba(255, 255, 255, 0.45); display: none; }

.ui-datepicker-header { border: 1px solid #8c8c91 !important; background: url(../img/bg.png) repeat !important; }
.ui-datepicker-header .ui-datepicker-next, .ui-datepicker-header .ui-datepicker-prev { cursor: pointer; }
.ui-datepicker-header .ui-datepicker-next.ui-state-hover, .ui-datepicker-header .ui-datepicker-prev.ui-state-hover { background: #8c8c91; border: 1px solid #9a94ff; }

.footer, .push { height: 67px; }

.footer { position: fixed; bottom: 0; left: 0; width: 100%; padding: 15px 0; z-index: 300; background: url(../img/bg.png) repeat; }
.footer .footer__phone { float: left; }
.footer .footer__number { font-size: 20px; }
.footer .footer__copyright { float: right; padding-top: 20px; }

.scroll-pane { height: 300px; overflow: auto; }
.scroll-pane.scroll-pane_mod { max-height: 300px; }
.scroll-pane .jspVerticalBar { right: 16px !important; background: none; }
.scroll-pane .jspTrack { width: 18px; background: rgba(0, 0, 0, 0.3); -moz-border-radius: 17px; -webkit-border-radius: 17px; border-radius: 17px; -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.26), inset 0 1px 3px rgba(0, 0, 0, 0.64); -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.26), inset 0 1px 3px rgba(0, 0, 0, 0.64); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.26), inset 0 1px 3px rgba(0, 0, 0, 0.64); }
.scroll-pane .jspDrag { width: 10px; margin-left: 4px; -moz-box-shadow: 0 1px 5px black, inset 0 1px 0 rgba(255, 255, 255, 0.82); -webkit-box-shadow: 0 1px 5px black, inset 0 1px 0 rgba(255, 255, 255, 0.82); box-shadow: 0 1px 5px black, inset 0 1px 0 rgba(255, 255, 255, 0.82); background-image: -moz-linear-gradient(bottom, #736fcd 0%, #908bed 100%); background-image: -webkit-linear-gradient(bottom, #736fcd 0%, #908bed 100%); background-image: linear-gradient(to top, #736fcd 0%, #908bed 100%); -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.login-error { display: none; color: #f00; }

.welcome_page { padding: 60px 20px; text-align: center; font-size: 24px; font-weight: bold; }

.partners .partners__top { padding: 36px 30px 23px; margin-bottom: 10px; }
.partners .partners__item { *zoom: 1; }
.partners .partners__item:after { content: " "; display: table; clear: both; }
.partners .partners__item.partners__item_grey { background: #f4f4f4; }
.partners .partners__col { padding: 12px 0; float: left; width: 50%; }
.partners .partners__col:first-child { line-height: 80px; text-align: center; }
.partners .partners__col:first-child .ico { vertical-align: middle; }
.partners .partners__name { margin-bottom: 10px; }
.partners .partners__mail { color: #9a94ff; text-decoration: none; }
.partners .partners__mail:hover { text-decoration: underline; }

.search_map { position: absolute; bottom: -62px; left: 50%; margin-left: -371px; height: 66px; width: 752px; text-align: center; line-height: 63px; z-index: 100; background: url("../img/bg-search.png") no-repeat 0 0; }
.search_map .search__text, .search_map .search__form { display: inline-block; }
.search_map .search__text { margin-right: 20px; font-size: 15px; text-shadow: 0 -1px 0 black; }
.search_map .search__form { margin: 12px 0 0; width: 385px; }
.search_map .search__form input { vertical-align: top; }
.search .search__form--margin { margin-right: 323px; }

.field { position: relative; margin-top: 27px; padding-right: 40px; margin-right: 59px; quotes: 50%; -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px; -moz-box-shadow: 0 1px 12px black; -webkit-box-shadow: 0 1px 12px black; box-shadow: 0 1px 12px black; padding: 20px 0; max-height: 550px; background: white; }
.field:before { position: absolute; left: 0; top: 20px; content: ""; width: 100%; height: 20px; z-index: 2; background: -webkit-linear-gradient(top, white 0%, rgba(68, 159, 229, 0) 100%); }
.field:after { position: absolute; left: 0; bottom: 20px; content: ""; width: 100%; height: 20px; z-index: 2; background: -webkit-linear-gradient(top, rgba(68, 159, 229, 0) 0%, white 100%); }
.field .field__wrap { margin-right: -59px; }
.field.field_map { position: relative; float: right; margin-top: 0; width: 338px; z-index: 10; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.input select {
    width: 343px;
    padding: 0 15px 0 18px;
    height: 37px;
    font-size: 15px;
    border: 1px solid #c7c7c7;
    color: #2d2d2d;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    background-color: white;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.input select option {
    width: 343px;
}
.simple, .range_block {display: none;}
.range_wrap input {
    width: 120px;
    margin: 5px;
}
.range_wrap {position: relative;}
.edit_delete {
    display:block;
    width:16px;
    height:14px;
    margin-right: 7px;
    background:url(../images/delete.png) no-repeat 100% 50%;
    position: absolute;
    right: -20px;
    top: 17px;
}