AddDefaultCharset UTF-8
RewriteEngine On
  # add trailing slashes
  RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteRule .*[^/]$ http://%{HTTP_HOST}/$0/ [L,R=301]

RewriteRule .* index.php [L]